@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Concert+One&display=swap');

body{
  font-family: 'Arvo', serif;
}

#main-image-frame{
  background-color: #393b43;
}

.navbar-expand-xl{
  background: linear-gradient(to right, rgba(192, 8, 24, 1.0) 2%, rgba(57, 59, 67, 0.0)10%,rgba(57, 59, 67, 0.0) 90%,rgba(192, 8, 24, 1.0) 98%);
}

.footer{
  background-color: #393b43;
  color: #f8f8fc;
  background: linear-gradient(to right, rgba(192, 8, 24, 1.0) 2%, rgba(57, 59, 67, 1.0)10%,rgba(57, 59, 67, 1.0) 90%,rgba(192, 8, 24, 1.0) 98%);
}

/* Navbar and header styles */

.main-logo{
  margin: 10px 55px 10px 25px;
}

.main-image{
  height: 500px;
  width: 100%;
  background: linear-gradient(to right, rgba(57, 59, 67, 1.0) 10%, rgba(57, 59, 67, 0.0)20%,rgba(57, 59, 67, 0.0) 80%,rgba(57, 59, 67, 1.0) 90%),
              url(https://raw.githubusercontent.com/MarisKX/Code-Institute-Milestone-Project-1/master/assets/images/Actros-nieuw-full.jpg) no-repeat center center;
}

#main-image-frame{
    height: 600px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.nav-link{
  margin: auto 5px;
  width: 200px;
  text-align: center;
  color: #f8f8fc;
  border-radius: 10px;
  font-size: 200%;
  height: inherit;
}

.nav-link:hover{
  margin: auto 5px;
  width: 200px;
  text-align: center;
  color: #393b43;
  background-color: #f8f8fc;
  border-radius: 10px;
  height: inherit;
}

.navlink, .active{
  margin: auto 5px;
  background-color: #f8f8fc;
  color: #393b43;
  border-radius: 10px;
  height: inherit;
}

.navbar-expand-xl{
  height: 100px;
  margin: 0;
}

#main-nav-container{
  margin-left: 80px;
  margin-right: 80px;
}

.navbar-nav{
  height: inherit;
}


#company-moto{
  font-size: 130%;
  font-family: 'Concert One';
  text-align: center;
  color: #f8f8fc;
  width: 500px;
  height: 200px;
  padding-top: 10px;
  padding-left: 10px;
  top: 350px;
  left: 100px;
  position: absolute;
}

/*  Main content area  */

.main-content-section{
  height: 1200px;
}

.main-content-div-field{
  height: 400px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#home-upper{
  background: linear-gradient(to right, rgba(57, 59, 67, 0.0) 0%, rgba(57, 59, 67, 0.2)25%,rgba(248, 248, 252, 0.8) 40%,rgba(248, 248, 252, 1.0) 45%),
              url(https://raw.githubusercontent.com/MarisKX/Code-Institute-Milestone-Project-1/master/assets/images/home-1.jpg) center left no-repeat;
}

#home-middle{
  background: linear-gradient(to left, rgba(57, 59, 67, 0.0) 0%, rgba(57, 59, 67, 0.2)25%,rgba(248, 248, 252, 0.8) 40%,rgba(248, 248, 252, 1.0) 45%),
              url(https://raw.githubusercontent.com/MarisKX/Code-Institute-Milestone-Project-1/master/assets/images/home-2.jpg) center right no-repeat;
}

#home-lower{
  background: linear-gradient(to right, rgba(57, 59, 67, 0.0) 0%, rgba(57, 59, 67, 0.2)25%,rgba(248, 248, 252, 0.8) 40%,rgba(248, 248, 252, 1.0) 45%),
              url(https://raw.githubusercontent.com/MarisKX/Code-Institute-Milestone-Project-1/master/assets/images/home-3.jpg) center left no-repeat;
}

#services-upper{
  background: linear-gradient(to right, rgba(57, 59, 67, 0.0) 0%, rgba(57, 59, 67, 0.2)25%,rgba(248, 248, 252, 0.8) 40%,rgba(248, 248, 252, 1.0) 45%),
              url(https://raw.githubusercontent.com/MarisKX/Code-Institute-Milestone-Project-1/master/assets/images/services-1.jpg) center left no-repeat;
}

#services-middle{
  background: linear-gradient(to left, rgba(57, 59, 67, 0.0) 0%, rgba(57, 59, 67, 0.2)25%,rgba(248, 248, 252, 0.8) 40%,rgba(248, 248, 252, 1.0) 45%),
              url(https://raw.githubusercontent.com/MarisKX/Code-Institute-Milestone-Project-1/master/assets/images/services-2.jpg) center right no-repeat;
}

#services-lower{
  background: linear-gradient(to right, rgba(57, 59, 67, 0.0) 0%, rgba(57, 59, 67, 0.2)25%,rgba(248, 248, 252, 0.8) 40%,rgba(248, 248, 252, 1.0) 45%),
              url(https://raw.githubusercontent.com/MarisKX/Code-Institute-Milestone-Project-1/master/assets/images/services-3.jpg) center left no-repeat;
}

#fleet-upper{
  background: linear-gradient(to right, rgba(57, 59, 67, 0.0) 0%, rgba(57, 59, 67, 0.2)25%,rgba(248, 248, 252, 0.8) 40%,rgba(248, 248, 252, 1.0) 45%),
              url(https://raw.githubusercontent.com/MarisKX/Code-Institute-Milestone-Project-1/master/assets/images/fleet-1.jpg) center left no-repeat;
}

#fleet-middle{
  background: linear-gradient(to left, rgba(57, 59, 67, 0.0) 0%, rgba(57, 59, 67, 0.2)25%,rgba(248, 248, 252, 0.8) 40%,rgba(248, 248, 252, 1.0) 45%),
              url(https://raw.githubusercontent.com/MarisKX/Code-Institute-Milestone-Project-1/master/assets/images/fleet-2.jpg) center right no-repeat;
}

#fleet-lower{
  background: linear-gradient(to right, rgba(57, 59, 67, 0.0) 0%, rgba(57, 59, 67, 0.2)25%,rgba(248, 248, 252, 0.8) 40%,rgba(248, 248, 252, 1.0) 45%),
              url(https://raw.githubusercontent.com/MarisKX/Code-Institute-Milestone-Project-1/master/assets/images/fleet-3.jpg) center left no-repeat;
}

.description-div{
  text-align: center;
  margin: 2px 2px 2px 2px;
  padding: 0px 2px 0px 2px;
}

.upper-div{
  float: right;
  width: 60%;
}

.middle-div{
  float: left;
  width: 60%;
}

.lower-div{
  float: right;
  width: 60%;
}

.main-content-title{
  font-size: 30px;
  padding-top: 25px;
}

.main-content-p, .main-content-li{
  font-size: 15px;
}

ul{
  list-style: none;
}

.main-content-li:before{
  content: '✔️';
  display: inline-block;
}

#contact-middle{
  height: inherit;
}

#contact-middle-div{
  height: inherit;
  width: 50%;
  margin: 0 auto;
  float: none;
}

#price-request-form{
  margin-top: 25px;
}

.form-label{
  float: left;
  padding-left: 25px;
}

#notes{
  height: 100px;
}

#contact-section{
  height: auto;
  margin-bottom: 35px;
}

/* footer section  */

.footer{
  font-family: 'Concert One', cursive;
  font-size: 90%;
}

#footer-content{
  margin: 0 auto;
  width: 85%;
}





.col-md-4{
  padding: 10px 5px 10px 5px;
}

#copyright{
  color: #f8f8fc;
  font-size: 120%;
  margin-left: 250px;
  padding-bottom: 15px;
}

.social-media-links li a i {
    width: 40px;
    height: 40px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 25px;
    line-height: 8px;
    text-align: center;
    color: #393B43;
    background: #f8f8fc;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-media-links li a i:hover {
    background: #393B43;
    color: #f8f8fc;
}


/* Responsive styles */

/* Active on MOBILE devices */

@media only screen and (max-width: 780px){
  .navbar-toggler {
    position: absolute;
    top: .75em;
    right: 0.75em;
    background-color: #ffffff;
    border: 2px solid #c00818;
    border-radius: 0.25rem;
   }
   #main-nav-container{
     display: none;
     margin-left: 0;
     margin-right: 0;
   }
   .navbar-expand-xl{
     height: 20px;
     background: linear-gradient(to right, rgba(192, 8, 24, 1.0) 0%, rgba(57, 59, 67, 0.0)35%,rgba(57, 59, 67, 0.0) 65%,rgba(192, 8, 24, 1.0) 100%);
   }
   #main-image-frame{
     height: 420px;
   }
   .main-image{
     height: 400px;
     background: linear-gradient(to right, rgba(57, 59, 67, 1.0) 10%, rgba(57, 59, 67, 0.0)20%,rgba(57, 59, 67, 0.0) 80%,rgba(57, 59, 67, 1.0) 90%),
                 url(https://raw.githubusercontent.com/MarisKX/Code-Institute-Milestone-Project-1/master/assets/images/Actros-nieuw-mobile-v3.jpg) no-repeat right center;
     background-size: cover;
   }
   #zao-logo{
     width: 154px;
     height: 50px;
   }
   #company-moto{
     width: 90%;
     font-size: 100%;
     margin-left: 10px;
     margin-right: 10px;
     margin-bottom: 5px;
     left: 5px;
     right: 5px;
     top: 280px;
     padding: 0px 10px 0px 5px;
    }
    #copyright{
     margin-left: 45px;
   }
   .upper-div{
     float: right;
     width: 95%;
   }

   .middle-div{
     float: left;
     width: 95%;
   }

   .lower-div{
     float: right;
     width: 95%;
   }
   #home-upper{
     background: linear-gradient(to right, rgba(248, 248, 252, 0.8) 0%, rgba(248, 248, 252, 0.8)50%, rgba(248, 248, 252, 0.8) 100%),
                 url(https://raw.githubusercontent.com/MarisKX/Code-Institute-Milestone-Project-1/master/assets/images/home-1.jpg) left center no-repeat;
   }
   #home-middle{
     background: linear-gradient(to right, rgba(248, 248, 252, 0.8) 0%, rgba(248, 248, 252, 0.8)50%, rgba(248, 248, 252, 0.8) 100%),
                 url(https://raw.githubusercontent.com/MarisKX/Code-Institute-Milestone-Project-1/master/assets/images/home-2.jpg) right center no-repeat;
   }
   #home-lower{
     background: linear-gradient(to right, rgba(248, 248, 252, 0.8) 0%, rgba(248, 248, 252, 0.8)50%, rgba(248, 248, 252, 0.8) 100%),
                 url(https://raw.githubusercontent.com/MarisKX/Code-Institute-Milestone-Project-1/master/assets/images/home-3.jpg) left center no-repeat;
   }

   #services-upper{
     background: linear-gradient(to right, rgba(248, 248, 252, 0.8) 0%, rgba(248, 248, 252, 0.8)50%, rgba(248, 248, 252, 0.8) 100%),
                 url(https://raw.githubusercontent.com/MarisKX/Code-Institute-Milestone-Project-1/master/assets/images/services-1.jpg) center left no-repeat;
   }

   #services-middle{
     background: linear-gradient(to right, rgba(248, 248, 252, 0.8) 0%, rgba(248, 248, 252, 0.8)50%, rgba(248, 248, 252, 0.8) 100%),
                 url(https://raw.githubusercontent.com/MarisKX/Code-Institute-Milestone-Project-1/master/assets/images/services-2.jpg) center right no-repeat;
   }

   #services-lower{
     background: linear-gradient(to right, rgba(248, 248, 252, 0.8) 0%, rgba(248, 248, 252, 0.8)50%, rgba(248, 248, 252, 0.8) 100%),
                 url(https://raw.githubusercontent.com/MarisKX/Code-Institute-Milestone-Project-1/master/assets/images/services-3.jpg) center left no-repeat;
   }
   #fleet-upper{
     background: linear-gradient(to right, rgba(248, 248, 252, 0.8) 0%, rgba(248, 248, 252, 0.8)50%, rgba(248, 248, 252, 0.8) 100%),
                 url(https://raw.githubusercontent.com/MarisKX/Code-Institute-Milestone-Project-1/master/assets/images/fleet-1.jpg) center left no-repeat;
   }
   #fleet-middle{
     background: linear-gradient(to right, rgba(248, 248, 252, 0.8) 0%, rgba(248, 248, 252, 0.8)50%, rgba(248, 248, 252, 0.8) 100%),
                 url(https://raw.githubusercontent.com/MarisKX/Code-Institute-Milestone-Project-1/master/assets/images/fleet-2.jpg) center right no-repeat;
   }
   #fleet-lower{
     background: linear-gradient(to right, rgba(248, 248, 252, 0.8) 0%, rgba(248, 248, 252, 0.8)50%, rgba(248, 248, 252, 0.8) 100%),
                 url(hhttps://raw.githubusercontent.com/MarisKX/Code-Institute-Milestone-Project-1/master/assets/images/fleet-3.jpg) center left no-repeat;
   }
   .main-content-section{
     height: 1590px;
   }

   .main-content-div-field{
     height: 530px;
     margin-top: 0px;
     margin-bottom: 0px;
   }

   .main-content-p, .main-content-li{
     font-size: 90%;
   }
   .main-content-title{
     font-size: 140%;
   }


    /* "Burger" menu styles */

    .fa-window-close{
     display: none;
    }

    .show-menu {
    float: right;
    width: 25vh;
    height: 20vh;
    background: #393b43;
    border-radius: 5px;
    color: #f8f8fc;
    transform: translateY(-100%);
    transition: transform 0.5s;
    list-style: none;
    padding-top: 1rem;
    margin-right: -2vh;
    margin-top: -18vh;
    }

    .displayMenu {
    transform: translateY(0);
    }

    a {
    padding: 0;
    color: #f8f8fc;
    }

    .item {
    display: inline;
    font-size: 1rem;
    color: #f8f8fc;
    text-decoration: none;
    font-weight: 200;
    line-height: 0.8;
    }

    .item:hover {
    text-decoration: none;
    }   
    .active{
        background-color: #f8f8fc;
        color: #393b43;
    }
    
}
    


}
/* NOT active only on MOBILE devices */

@media only screen and (min-width: 780px){
  .navbar-toggler{
    display: none;
  }
  #burger-btn{
      display: none;
  }
  .navbar-nav{
      flex-direction: row;
  }
  }

/* Active ONLY on large screen PC's */

@media only screen and (min-width: 2100px){
  #main-nav-container{
    margin-left: 300px;
    margin-right: 300px;
  }
  .description-div{
    text-align: center;
    margin: 10px 35px 10px 35px;
    padding: 20px 55px 20px 55px;
    height: 300px;
  }
  .main-content-section{
    height: 1050px;
  }

  .main-content-div-field{
    height: 350px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

/* Active on tablets and smaller screens (under 1200px) */

@media only screen and (max-width: 1200px){
  .navbar-nav{
    flex-direction: row;
  }
  .nav-link{
    margin: auto 5px;
    width: 150px;
    text-align: center;
    color: #f8f8fc;
    border-radius: 5px;
    font-size: 150%;
  }

  .nav-link:hover{
    margin: auto 5px;
    width: 150px;
    text-align: center;
    color: #393b43;
    background-color: #f8f8fc;
    border-radius: 5px;
  }

  .navlink, .active{
    background-color: #f8f8fc;
    color: #393b43;
    border-radius: 5px;
  }

  .upper-div{
    float: right;
    width: 85%;
  }

  .middle-div{
    float: left;
    width: 85%;
  }

  .lower-div{
    float: right;
    width: 85%;
  }
}